<!DOCTYPE html>
<html>
<head>
    <title>予約表</title>

    <!--tailwind cssの読み込み-->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <h1 class="text-2xl font-bold mb-4">予約表</h1>
    <p>ようこそ、{{ username }}さん。</p>
    <form id="reservationForm" action="">
        <table class="min-w-full divide-y divide-gray-200 border border-gray-300">
            <tr>
                <th class="py-2 px-4 text-center bg-gray-200">時間</th>
                <th class="py-2 px-4 text-center bg-gray-200">4人まで予約</th>
                <th class="py-2 px-4 text-center bg-gray-200">9人まで予約</th>
            </tr>
            {% for time in time_member %}
            <tr>
                <th class="py-2 px-4 text-center bg-gray-200">{{ time.0 }}</th>
                <th class="py-2 px-4 text-center bg-gray-200">
                    {{ time.1 }} / 4<br>
                    <input type="radio" name="reserve" value="{{ time.0 }}-1">
                </th>
                <th class="py-2 px-4 text-center bg-gray-200">
                    {{ time.2 }} / 9<br>
                    <input type="radio" name="reserve" value="{{ time.0 }}-2">
                </th>
            <tr>
            {% endfor %}
        </table>
        <br>
        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="registerReservation()">
            予約を登録
        </button>
    </form>

    <script src="reserve.js"></script> <!-- JavaScriptファイルを読み込む -->

</body>
</html>